body{
    background-color: black;
    padding: 63px 82px;
    margin: 0 42px;
}
.images__div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.buzfeed__image{
    margin-left: -27px;
}
.mediamonks__image{
    margin-left: -15px;
}
.fox__image{
    margin-left: -2px;
}
.masterclass__image{
    margin-left: 10px;
}
.casestudies__link{
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 21px;
    color: #ffffff;
    line-height: 1.6;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
}
.arrow__link{
    width: 29px;
    height: 27px;
    margin-left: 2px;
    margin-bottom: -7px;
}
.links__div{
    text-align: center;
    margin-top: 30px;
}
.getstarted__heading{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
.feedback__heading{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    width: 56%;
    margin-left: 286px;
}
.getstarted__button{
    background: rgb(90, 82, 255);
    color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 0.5rem;
    line-height: 1;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 35rem;
    cursor: pointer;
}
.feedback__section{
    margin-bottom: 140px;
}
.mobile__image{
    width: 592px;
    height: 649px;
    margin-right: 121px;
    margin-top: -68px;
}
.main__div{
    background-color: blue;
    display: flex;
    margin-top: 40px;
    border-radius: 30px;
}
.apple__heading{
    color: #ffffff;
    font-size: 24px;
    padding-top: 81px;
}
.string__heading{
    font-weight: 500;
    line-height: 1;
    margin-top: 2rem;
    color: #ffffff;
    font-family: aktiv-grotesk;
    font-size: 3.625rem;
    letter-spacing: -0.04em;
    /* width: 50%; */
}
.stayconnected__paragraph{
    font-weight: 500;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.6;
    margin-top: 2rem;
    width: 62%;
}
.main__divtwo{
    padding-left: 81px;
}
.link{
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
}























@media screen and (max-width:767px) {
    .images__div{
        /* display: flex; */
        flex-direction: column;
    }
    .images__div-one{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .mediamonks__image{
        /* margin: 21px 54px; */
        margin-left: 142px;
        
        width: 101px;
        height: 40px;
    }
    .masterclass__image{
        /* margin: 21px 54px; */
        margin-left: 142px;
        margin-top: -95px;
        width: 101px;
        height: 40px;
    }
    .fox__image{
        /* margin: 21px 54px; */
        margin-left: -80px;
        width: 101px;
        height: 40px;
        margin-bottom: 58px;
    }
    .buzfeed__image{
        /* margin: 21px 54px; */
        margin-left: -80px;
        width: 101px;
        height: 40px;
    }
    .national__image{
        width: 101px;
        margin-left: -80px;
        height: 40px;
    }
    .google__image{
        width: 101px;
        height: 40px;
        margin-left: 142px;
        
    }
    .casestudies__link{
        font-size: 26px;
        margin-left: -216px;
    }
    .links__div{
        width: 269%;
    }
    .vice__image{
        width: 101px;
        margin-left: -80px;
        height: 40px;
    }
    .ogilvy__image{
        width: 101px;
        margin-left: -80px;
        height: 40px;
    }
    .netflix__image{
        width: 101px;
        height: 40px;
        margin-left: 142px;
       
    }
    .turner__image{
        width: 101px;
        height: 40px;
        margin-left: 142px;
        
    }
    .getstarted__heading{
        font-size: 33px;
        text-align: center;
        width: 389%;
    }
    .feedback__section{
        padding: 74px 25px;
    }
    .feedback__heading{
        font-size: 57px;
        margin-top: 24px;
        width: 687%;
        margin-left: -159px;
    }
    .getstarted__button{
        margin-left: 139px;
        width: 123%;
    }
    .main__div{
        flex-direction: column;
        width: 364%;
    }
    .apple__heading{
        font-size: 32px;
        margin-left: 27px;
    }
    .string__heading{
        font-size: 4rem;
        margin-top: 24px;
    }
    .stayconnected__paragraph{
        font-size: 24px;
        margin-top: 24px;
        width: 83%;
    }
    .link{
        font-size: 17px;
        margin-left: 139px;
    }
    .mobile__image{
        width: 384px;
        height: 355px;
        margin-left: 109px;
        margin-top: 20px;
    }
}